
/*  STYLING FOR NAV BAR */

nav {
    margin-left: 0%;
    background-color: #e3e3e3;
    margin: 0%;
    padding: 0%;
    position: fixed;
    width: 100%;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding-right: 50px;
    align-items: center;
    padding-left: 0.7%;
    
}

.header1 {
    margin-right: auto;
    font-size: xx-large;
    font-weight: bolder;
    color: #393e46;
    font-family: 'Times New Roman', Times, serif;
    
}

li {
   font-size: medium;
   font-family: 'Times New Roman', Times, serif;
   color: #393e46;
   
}

a {
    color: #393e46;
    text-decoration: none;
}

/* MAIN BODY */

.main-container {
    display: flex;
    flex-direction: column;
}

/* FIRST SECTION - FIKRI COOKING */

#love {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
}

#love div {
    flex: 1 1 50%;
    display:flex;
}

.sub1 img{
    flex: 1 1 auto;
    height: 99%;
    width: 99%;
}



.main-container {
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
}

.main-container div {
    flex:1 1 500px;
    padding: 0.3%;
}

.sub2 {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.sub2 p {
    color: #393e46;
    font-size: xx-large;
}


/* ABOUT SECTION */

#about {
    text-align: justify;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #393e46;
}

#about p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: #393e46;
    
}

/* CLOTHING SECTION */

#clothing {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;  
}

#clothing div {
    flex: 1 1 50%;
    border-style: solid;
    border-color: pink;
}

.clth1 h1 {
    text-align: right;
    color: #455d7a;
}

.clth2 h1 {
    color: #f95959;
    text-align: left;
}

#clothing img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding-top: 0.5%;

}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}



